<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="toAddress" value="fake" />
        <add key="fromAddress" value="fake" />
        <add key="bodyFilePath" value="/Users/warren/Desktop/body.txt" />
        <add key="subject" value="subject from config" />
    </appSettings>
</configuration>
